#navbar {
    margin-bottom: 16px;
}

.welcome-bar{
    display: flex;
    margin: 16px;
    background-color: teal;
    color: white;
    overflow: hidden;
}
.welcome-name {
    margin: 32px;
    height: 100%;
    width: 100%;
}
.welcome-map-object{
    max-width: 100%;
    max-height: auto;
    min-width: 200px;
}
.welcome-bar div{
    display: inline-block;
}

.welcome-map {
    margin: 16px;
    margin-left: auto;
    align-self: center;
    justify-self: right;
}
.card{
    margin: 16px;
}

.category-card{
    margin: 16px;
    border-radius: 10px;
}
.category-bar{
    background-color: teal;
    color: white;

    margin: 0;
    font-size: 30px;
    padding-left: 30px;
}
.category-button{
    cursor: pointer;
    color:#FFF;
}
.category-button:hover{
    color: #ddd;
}
.category-deck{
    background-color: #eee;
}

.location-card{
    margin: 8px;
    max-width: 250px;
    background-color: #ddd;
}

@media only screen and (max-width: 500px) {
    body {
        min-width: 300px;
    }
    .welcome-bar{
        display: flex;
        flex-direction: column;
    }
    .welcome-bar div{
        display: block;
    }
    .welcome-map {
        margin: auto;
    }
}